body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.hero_section{
    display: flex;
}
.hero-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    margin-bottom: 200px;
    margin: ;
}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
.half_width{
    width: 50%;
    margin: 40px;
}
img{
    width: 80%;
}
a{
    text-decoration: none;
    color: white;
    background: rgb(177, 115, 1);
    margin-top: 40px;
}
p{
    margin-bottom: 30px;
}
.btn{
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: ;
}
.two_part{
    display: flex;
}
.forty_left{
    padding: 20px;
    width: 50%;
    margin: 30px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.548);
    border-left: 6px solid transparent;
    border-image: linear-gradient(red , purple);
    border-image-slice: 1;
}
.forty_right{
    padding: 20px;
    width: 50%;
    margin: 30px;
    margin-left: 50px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.548);
    border-left: 6px solid transparent;
    border-image: linear-gradient(tomato , blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: px;
}